body {
    text-align: center;
}

.signInBtn {
    display: inline-block;
    margin: 20px auto;
}

.signIn p {
    max-width: 600px;
    margin: 0 auto;
}

.instr {
    display: inline-block;
    margin-left: 50px;
    vertical-align: top;
    text-align: left;

    width: 600px;
}

.progress {
    text-align: center;
}

.progress span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    line-height: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease-in-out;
}

.progress span.active {
    background: lightgray;
}

.subInstr p {
    margin: 0;
    font-size: 80%;
}

.subInstr {
    margin-bottom: 20px;
}
