.main {
	text-align: center;

    padding-bottom: 100px;
}

.load {
	text-align: center;
	height: 400px;
	max-height: 60vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.load h1 {
	margin-bottom: 20px;
}

.details {
	display: inline-block;
	margin-left: 100px;
	vertical-align: top;

	text-align: left;
}

.subInstr {
	margin-bottom: 20px;
}

.subInstr p {
	margin: 0;
	font-size: 80%;
}

.progress {
    text-align: center;
}

.progress span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    line-height: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease-in-out;
}

.progress span.active {
    background: lightgray;
}

@media (max-width: 700px) {
	.details {
		display: block;
		margin: 30px;
	}
}
