.coaster {
    display: inline-block;
    vertical-align: top;
}

.coaster p {
    text-align: center;
    margin: 0;
}

.coasterTrain {
    border-spacing: 5px;
}

.coasterTrain td {
    width: 40px;
    height: 40px;
    font-size: 20px;
    overflow: hidden;
}

.coasterTrain input[type="checkbox"], .coasterTrain button {
    width: 30px;
    height: 30px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

.coasterTrain button, .coasterTrain td .seat {
    border: none;
    box-shadow: 0 0 1px 1px black;
    transition: box-shadow 0.1s ease-in-out;
}

.coasterTrain button:hover, .coasterTrain button:focus {
    box-shadow: 0 0 1px 2px black;
}

.coasterTrain button:active {
    box-shadow: none;
}

.coasterTrain td:first-child {
    background: initial;
    width: initial;
    height: initial;
    font-size: 20px;
    line-height: 30px;
}

.trainEdit td {
    position: relative;
    overflow: visible;
}

.trainEdit button.rowBtn {
    position: absolute;
    background: none;
    border: none;
    box-shadow: none;

    padding: 0;
    height: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.trainEdit button.del {
    top: 50%;
    right: 0;
    transform: translate(3px, -50%);
    font-size: 10px;
    padding-bottom: 2px;
    width: 15px;
    border-radius: 15px;
}

.trainEdit button.add {
    margin: 0 auto;
    width: 100%;
    transform: translateY(-50%);

    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.trainEdit button.add:hover {
    opacity: 1;
}

.trainEdit button.add span {
    background: white;
    padding: 0 5px;
}

.trainEdit button.add::after {
    content: '';
    display: block;
    position: absolute;
    left: 0; top: 50%; right: 0;
    background: green;
    height: 1px;
    z-index: -1;
}

.trainEdit button.rowBtn::before {
    position: absolute;
    left: 0;
    text-align: right;
    font-size: 14px;

    white-space: nowrap;

    color: white;
    padding: 2px 5px;

    pointer-events: none;

    transform: translateX(-100%)scaleX(0);
    transform-origin: right center;
    opacity: 0;
    transition: transform 0.5s ease-in, opacity 0.4s ease-in;
}

.trainEdit button.del::before {
    content: 'Merge cars';
    background: red;
}

.trainEdit button.add::before {
    content: 'Split car';
    background: green;
    left: -5px;
}

.trainEdit button.rowBtn:hover::before, .trainEdit button.rowBtn:focus::before {
    opacity: 1;
    transform: translateX(-100%)scaleX(1);
    transition: transform 0.2s ease-out, opacity 0.3s ease-out;
}

.trainEdit button.rowBtn:active {
    color: white;
}