.side {
	display: inline-block;
	vertical-align: top;
}

.sidebar {
	width: 400px;
	max-width: 100%;
	padding-top: 10px;
}

.instruction {
	padding: 20px;
	background: rgb(230, 230, 230);
}

.warn {
	font-weight: bold;
	color: red;
}

.templateList {
	display: flex;
	max-width: 500px;
	margin: 20px auto;
	padding: 0;

	flex-direction: row;
	justify-content: center;
	list-style: none;
}

.templateList li {
	flex: 1;
	display: flex;
	align-items: stretch;
}

.templateList li button {
	width: 100%;
	height: 100%;
	background: none;
	cursor: pointer;

	display: flex;
	flex-direction: column;
	align-items: center;

	transition: border 0.2s ease-in-out, background 0.2s ease-in-out;
	border-radius: 10px;
	padding: 5px;
	border: 1px white solid;
}

.templateList li button:hover, .templateList li button:focus {
	border: 1px black solid;
}
.templateList li button:active {
	background: rgb(230, 230, 230);
}

.templateList .carWrap {
	display: inline-flex;
	margin-bottom: 10px;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
}

.templateList .car {
	background: rgba(230, 230, 230);
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.templateList .spin {
	border-radius: 50%;
}

.templateList .row {
	display: block;
	text-align: center;
}

.templateList .seat, .templateList .gap {
	width: 20px; height: 20px;
	display: inline-block;
	margin: 3px;
}

.templateList .seat {
	background: rgb(128, 128, 128);
}