body {
    text-align: center;
}

.feedback {
    display: inline-block;
    margin-left: 100px;
    vertical-align: top;
}

.feedback > p {
    text-align: center;
}

.feedback table {
    text-align: left;
}

.feedback span {
    display: inline-block;
    height: 1em;
    margin-right: 5px;
}

.feedback td {
    min-width: 200px;
}

.feedback tr:first-child span {
    background: #2E7D32;
}
.feedback tr:nth-child(2) span {
    background: #0277BD;
}
.feedback tr:nth-child(3) span {
    background: #C62828;
}

.feedback p:last-child {
    margin-top: 30px;
}

footer a {
    color: black;
}

@media (max-width: 700px) {
    .feedback {
        display: block;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .feedback table {
        display: inline-block !important;
        margin: 0 auto;
    }
}