body {
    background-image: url('/img/fury.jpg');
    background-size: cover;
    background-position: center center;
    backdrop-filter: blur(10px) brightness(40%);

    min-height: 100vh;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
    font-weight: bold;

    font-size: 400%;
}

footer a {
    color: white;
}
