@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0; padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 300%;
    margin-bottom: 0;
}

h1 + h2 {
    margin-top: 0;
}

.coaster {
    display: inline-block;
    vertical-align: top;
}

.coaster p {
    text-align: center;
    margin: 0;
}

.coasterTrain {
    border-spacing: 5px;
}

.coasterTrain td {
    width: 40px;
    height: 40px;
    font-size: 20px;
    overflow: hidden;
}

.coasterTrain input[type="checkbox"], .coasterTrain button {
    width: 30px;
    height: 30px;
    margin: 0;
    vertical-align: middle;
    cursor: pointer;
}

.coasterTrain button {
    border: none;
}

.coasterTrain button:hover, .coasterTrain button:focus {
    box-shadow: 0 0 1px black;
}

.coasterTrain button:active {
    box-shadow: none;
}

.coasterTrain td:first-child {
    background: initial;
    width: initial;
    height: initial;
    font-size: 20px;
    line-height: 30px;
}

.bigBtn {
    border: 2px black solid;
    text-decoration: none;
    background: white;
    color: black;
    padding: 10px 15px;
    cursor: pointer;

    box-shadow: 0 0 5px black;
    transition: box-shadow 0.2s ease-in-out, color 0.5s ease-in-out, background 0.5s ease-in-out;
}

.bigBtn:hover, .bigBtn:focus {
    box-shadow: 0 0 15px black;
}

.bigBtn:active {
    box-shadow: 0 0 5px blue;
}

.bigBtn.disabled {
    background: black;
    color: white;
    box-shadow: 0 0 5px black;
    cursor: not-allowed;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: left;
    font-size: 80%;
}
