body {
	background-image: url('/img/fury.jpg');
	background-size: cover;
	background-position: center center;
	backdrop-filter: blur(5px) brightness(40%);
  
	color: white;
	min-height: 100vh;
  
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}